@model IEnumerable<WebApplication4.Models.FoodCalculator>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    @if (User.Identity.IsAuthenticated)
            {
        <table class="table" style="background-color:#F8F8F8">
            <thead style="color:black">
                <tr>
                    <th>Food Name</th>
                    <th>Food quantity</th>
                    <th>Grams</th>
                    <th>Calories</th>
                    <th>Lipids</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody style="color:black">
                @foreach (var regist in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => regist.FoodName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.FoodQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.Grams)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.Calories)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.Lipid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.recordDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
