@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
   <h4>Profile</h4>
    <hr />
        <dt>Name</dt>@Model.Name
        <dt><br /></dt>
        <dt>Age</dt>@Model.Age
        <dt><br /></dt>
        <dt>Height</dt>
        <dt><br /></dt>
        <dt>Weight</dt>
        <dt><br /></dt>
        <dt>IMC</dt>
        <dt><br /></dt>
        <dt>Sex</dt>@Model.Sex
        <dt><br /></dt>
        <dt>Email</dt>@Model.Email
        <dt><br /></dt>
        <div class="personal_container">
        </div>
</div>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <text><a asp-controller="Manage" asp-action="ChangePassword" style="color:white" class="btn btn-xs btn-success">Change</a></text>
            }
            else
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="SetPassword" >Create</a>&nbsp;&nbsp;]</text>
            }
        </dd>
    </dl>
 </div>
 
<div>
        <h4>Change your personal info</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Physical Information:</dt>
            <dd>
                <text><a asp-controller="Manage" asp-action="ChangeInfo" style="color:white" class="btn btn-xs  btn-success"> Change </a></text>
            </dd>
        </dl>
</div>
