@model IEnumerable<WebApplication4.Models.Meal>

@{
    ViewData["Title"] = "Meals ";
}

<h2>All Meals</h2>

<div class="top-left table-responsive col-md-12">
    <table class="table" style="background-color:#F8F8F8">
        <thead style="color:black">
            <tr>
                <th>Meal</th>
                <th>Lipids</th>
                <th>Caloiries</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody style="color:black">
            @foreach (var regist in Model)
            {
                <tr>

                    <td>
                        <a asp-action="Details" asp-route-id="@regist.Id">
                            @Html.DisplayFor(modelItem => regist.MealName)
                        </a>                  
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => regist.totalLipids)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => regist.totalCalories)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => regist.recordDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

