@model IEnumerable<WebApplication4.Models.FoodCalculator>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeightLoss Helper!</title>

</head>
<body>
    <div class="top-content">
        <h1>Weight Loss Helper 2.0 </h1>

        <h1>User Profile Metrics</h1>
        <!-- Insertar datos de la tabla de FoodController-->
                
        <!-- Insertar datos de la tabla de FoodController-->
        <h4 id="content">
            This Application  would help the users to lose weight by keeping a diary of their weight, ingested calories,
            physical exercise, etc. The results achieved through a period of time.
        </h4>    
        
        @if (User.Identity.IsAuthenticated) {
        <table class="table table-bordered" style="background-color:#F8F8F8">
            <thead style="color:black">
                <tr>
                    <th>Food Name</th>
                    <th>Food quantity</th>
                    <th>Grams</th>
                    <th>Calories</th>
                    <th>Lipids</th>
                </tr>
            </thead>
            <tbody style="color:black">
                @foreach (var regist in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => regist.FoodName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.FoodQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.Grams)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.Calories)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => regist.Lipid)
                        </td>
                    </tr>
                 }
            </tbody>
        </table>
        }
    </div>
</body>
</html>